# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
web/app/ewww/*
!web/app/ewww/.gitkeep
web/app/languages/*
!web/app/languages/.gitkeep
web/app/cache/*
!web/app/cache/.gitkeep
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/themes/*
# WordPress
web/wp

# Logs
*.log
.env

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
/nbproject