# BEGIN WordPress
<IfModule mod_rewrite.c>
        RewriteEngine On

        # Disable AMP on multistep form
        # Check if AMP enabled on page, IF enabled THAN disable ;)
        # FR
        RewriteCond %{REQUEST_URI} ^/catalogue-gratuit-maisons-cle-sur-porte/$
        RewriteCond %{QUERY_STRING} ^(&?amp)$
        RewriteRule ^(.*)$ /catalogue-gratuit-maisons-cle-sur-porte/ [QSD,L]
        # NL
        RewriteCond %{REQUEST_URI} ^/gratis-catalogus-van-sleutel-op-de-deur-woning/$
        RewriteCond %{QUERY_STRING} ^(&?amp)$
        RewriteRule ^(.*)$ /gratis-catalogus-van-sleutel-op-de-deur-woning/ [QSD,L]

        # 301 --- http://www.woningencompere.be/43125/persoonlijke-levenssfeer => https://www.woningencompere.be/
        RewriteRule ^43125/persoonlijke\-levenssfeer$ /? [L,R=301]

        # 301 --- http://www.woningencompere.be/Startpagina => https://www.woningencompere.be/
        RewriteRule ^Startpagina$ /? [L,R=301]

        #RewriteCond %{HTTP:X-Forwarded-Proto} =http
        #RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

        #old url format to new format
        # houses listing page redirection

        RewriteRule ^7/liste-(.*)$ liste-des-modeles-de-maisons-cle-sur-porte-avec-plans-classes-par-prix/ [R=301,L]
        RewriteRule ^7/lijst-(.*)$ lijst-van-sleutel-op-de-deur-modelwoningen-met-plan-gerangschikt-op-prijs/ [R=301,L]

        #home models url format FR
        RewriteRule ^([0-9]+)\/maison-cle-sur-porte\/mc([0-9]+)$ maisons/$1-maison-cle-sur-porte-mc$2/ [R=301,L]

        #home models url format NL
        RewriteRule ^([0-9]+)\/sleutel-op-de-deur\/wc([0-9]+)$ houses/$1-sleutel-op-de-deur-wc$2/ [R=301,L]

        #articles url format
        RewriteRule ^([0-9]+)\/(.*)$ $1-$2/ [R=301,L]

        #SEO pages redirect
        
        RewriteRule ^25908\-cle\-sur\-porte/$ /52798\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^25909\-cle\-sur\-porte/$ /52798\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^25910\-cle\-sur\-porte/$ /52798\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^25911\-cle\-sur\-porte/$ /52798\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43048\-cle\-sur\-porte/$ /52798\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43049\-cle\-sur\-porte/$ /66909\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43050\-cle\-sur\-porte/$ /66909\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43051\-cle\-sur\-porte/$ /66909\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43052\-cle\-sur\-porte/$ /66909\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43053\-cle\-sur\-porte/$ /66909\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43054\-cle\-sur\-porte/$ /53065\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42855\-cle\-sur\-porte/$ /53065\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42856\-cle\-sur\-porte/$ /53065\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42882\-cle\-sur\-porte/$ /53065\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42857\-cle\-sur\-porte/$ /53065\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42858\-cle\-sur\-porte/$ /53065\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^43292\-clef\-sur\-porte/$ /43047\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25915\-clef\-sur\-porte/$ /43047\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25914\-clef\-sur\-porte/$ /43047\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25913\-clef\-sur\-porte/$ /43047\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25912\-clef\-sur\-porte/$ /43045\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^43046\-clef\-sur\-porte/$ /43045\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^43044\-clef\-sur\-porte/$ /43045\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^61887\-maison\-cle\-sur\-porte/$ /53744\-maison\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^24293\-maison\-cle\-sur\-porte/$ /53744\-maison\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^24295\-maison\-cle\-sur\-porte/$ /53744\-maison\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42482\-maison\-cle\-sur\-porte/$ /46543\-maison\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42483\-maison\-cle\-sur\-porte/$ /46543\-maison\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42484\-maison\-cle\-sur\-porte/$ /46543\-maison\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^42481\-maison\-cle\-sur\-porte/$ /46543\-maison\-cle\-sur\-porte/ [L,R=301]
        RewriteRule ^25904\-maisons\-clef\-sur\-porte/$ /20201\-maison\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25906\-maisons\-clef\-sur\-porte/$ /20201\-maison\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25905\-maisons\-clef\-sur\-porte/$ /20202\-maison\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25907\-maisons\-clef\-sur\-porte/$ /20204\-maison\-clef\-sur\-porte/ [L,R=301]
        RewriteRule ^25916\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^25918\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^25919\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^25917\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^25916\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^25918\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^25919\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^25917\-maison\-cle\-sur\-porte\-belgique/$ /66828\-maison\-cle\-sur\-porte\-en\-belgique/ [L,R=301]
        RewriteRule ^42875\-maison\-cle\-sur\-porte\-belgique/$ /42874\-maison\-cle\-sur\-porte\-belgique/ [L,R=301]
        RewriteRule ^42873\-maison\-cle\-sur\-porte\-belgique/$ /42874\-maison\-cle\-sur\-porte\-belgique/ [L,R=301]
        RewriteRule ^42872\-maison\-cle\-sur\-porte\-belgique/$ /42874\-maison\-cle\-sur\-porte\-belgique/ [L,R=301]
        RewriteRule ^27372\-plans\-de\-maison/$ /66993\-plans\-maisons/ [L,R=301]
        RewriteRule ^27371\-plans\-de\-maison/$ /66993\-plans\-maisons/ [L,R=301]
        RewriteRule ^27369\-plans\-de\-maison/$ /66993\-plans\-maisons/ [L,R=301]
        RewriteRule ^27370\-plans\-de\-maison/$ /66993\-plans\-maisons/ [L,R=301]
        RewriteRule ^26633\-maison\-passive/$ /26636\-maison\-passive/ [L,R=301]
        RewriteRule ^26634\-maison\-passive/$ /26635\-maison\-passive/ [L,R=301]
        RewriteRule ^25931\-prix\-construction\-maison/$ /25932\-prix\-construction\-maison/ [L,R=301]
        RewriteRule ^25929\-prix\-construction\-maison/$ /25932\-prix\-construction\-maison/ [L,R=301]
        RewriteRule ^25930\-prix\-construction\-maison/$ /25932\-prix\-construction\-maison/ [L,R=301]
        RewriteRule ^42859\-prix\-construction\-maison/$ /42862\-prix\-construction\-maison/ [L,R=301]
        RewriteRule ^42860\-prix\-construction\-maison/$ /42862\-prix\-construction\-maison/ [L,R=301]
        RewriteRule ^42861\-prix\-construction\-maison/$ /42862\-prix\-construction\-maison/ [L,R=301]
        RewriteRule ^66928\-construire\-maison/$ /67144\-construire\-maison/ [L,R=301]
        RewriteRule ^24335\-construire\-sa\-maison/$ /52803\-construire\-sa\-maison/ [L,R=301]
        RewriteRule ^24336\-construire\-sa\-maison/$ /67144\-construire\-maison/ [L,R=301]
        RewriteRule ^24334\-construire\-sa\-maison/$ /67144\-construire\-maison/ [L,R=301]
        RewriteRule ^construire\-une\-maison/$ /66874\-construire\-une\-maison/ [L,R=301]
        RewriteRule ^25925\-construire\-maison/$ /53039\-construire\-maison/ [L,R=301]
        RewriteRule ^25924\-construire\-maison/$ /53039\-construire\-maison/ [L,R=301]
        RewriteRule ^25927\-construire\-maison/$ /53039\-construire\-maison/ [L,R=301]
        RewriteRule ^25926\-construire\-maison/$ /53039\-construire\-maison/ [L,R=301]
        RewriteRule ^20032\-faire\-construire\-une\-maison/$ /33536\-faire\-construire\-sa\-maison/ [L,R=301]
        RewriteRule ^20030\-faire\-construire\-une\-maison/$ /33536\-faire\-construire\-sa\-maison/ [L,R=301]
        RewriteRule ^19367\-faire\-construire\-une\-maison/$ /33536\-faire\-construire\-sa\-maison/ [L,R=301]
        RewriteRule ^26631\-maison\-a\-batir/$ /26629\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^26630\-maison\-a\-batir/$ /26629\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^26646\-maison\-a\-batir/$ /26629\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^26647\-maison\-a\-batir/$ /26629\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^26648\-maison\-a\-batir/$ /26645\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^42865\-maison\-a\-batir/$ /26645\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^42863\-maison\-a\-batir/$ /26645\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^42864\-maison\-a\-batir/$ /26645\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^42866\-maison\-a\-batir/$ /26645\-maison\-a\-batir/ [L,R=301]
        RewriteRule ^27938\-maisons\-a\-batir/$ /27936\-maisons\-a\-batir/ [L,R=301]
        RewriteRule ^27939\-maisons\-a\-batir/$ /27936\-maisons\-a\-batir/ [L,R=301]
        RewriteRule ^27937\-maisons\-a\-batir/$ /27936\-maisons\-a\-batir/ [L,R=301]
        RewriteRule ^25938\-nouvelle\-construction\-a\-vendre/$ /66859\-nouvelles\-constructions/ [L,R=301]
        RewriteRule ^25940\-nouvelle\-construction\-a\-vendre/$ /66859\-nouvelles\-constructions/ [L,R=301]
        RewriteRule ^25937\-nouvelle\-construction\-a\-vendre/$ /66859\-nouvelles\-constructions/ [L,R=301]
        RewriteRule ^nouvelle\-construction\-liege/$ /66858\-nouvelle\-construction\-liege/ [L,R=301]
        RewriteRule ^27361\-investisseurs\-promoteurs/$ /29896\-promoteur/ [L,R=301]
        RewriteRule ^27362\-investisseurs\-promoteurs/$ /29896\-promoteur/ [L,R=301]
        RewriteRule ^27363\-investisseurs\-promoteurs/$ /29896\-promoteur/ [L,R=301]
        RewriteRule ^27364\-investisseurs\-promoteurs/$ /29896\-promoteur/ [L,R=301]
        RewriteRule ^20186\-vente\-de\-maisons\-en\-belgique/$ /20187\-vente\-de\-maison\-en\-belgique/ [L,R=301]
        RewriteRule ^20188\-vente\-de\-maison\-en\-belgique/$ /20187\-vente\-de\-maison\-en\-belgique/ [L,R=301]
        RewriteRule ^20194-nouvelle-construction-a-vendre/$ /53114-nouvelle-construction-a-vendre/ [L,R=301]
        RewriteRule ^20190-nouvelles-constructions-a-vendre/$ /53114-nouvelle-construction-a-vendre/ [L,R=301]

        # end of SEO

        RewriteBase /
        RewriteRule ^index\.php$ - [L]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule . /index.php [L]
</IfModule>

<FilesMatch ".(eot|ttf|otf|woff)">
        Header set Access-Control-Allow-Origin "*"
</FilesMatch>
